{% extends "base.html" %}


{% block navigation %}
    {% include "nav.html" %}
{% endblock navigation %}


{% block content %}
<form action="" method="post">
    {% csrf_token %}

    <label>Cash</label>
    <input type="number" name="cash">
    <br>    
    
    <label>Date</label>
    <input type="date" name="date">
    <br>

    <select name="client">
        {% for client in clients %}
            <option value="{{ client.id }}">{{ client.name }} {{client.surname }}</option>
        {% endfor %}
    </select>
    <br>

    <select name="seller">
        {% for seller in salesman %}
            <option value="{{ seller.id }}">{{ seller.name }} {{seller.surname }}</option>
        {% endfor %}
    </select>
    <br>

    <select name="products" multiple>
        {% for product in products %}
            <option value="{{ product.id }}">{{ product.name }}</option>
        {% endfor %}
    </select>
    <br>

    <input type="submit" value="Update">
</form>
{% endblock content %}