
<ul>
    <li><a href = "{% url 'index' %}">Index</a></li>
    <li><a href = "{% url 'show_clients' %}">Show clients</a></li>
    <li><a href = "{% url 'show_products' %}">Show products</a></li>
    <li><a href = "{% url 'show_sales' %}">Show sales</a></li>
    <li><a href = "{% url 'show_salesman' %}">Show salesman</a></li>
</ul>
<ul>
    <li><a href = "{% url 'add_client' %}">Add Client</a></li>
    <li><a href = "{% url 'add_sale' %}">Add Sale</a></li>
    <li><a href = "{% url 'delete_sale' %}">Delete Sale</a></li>
    <li>Menu element</li>
    <li>Menu element</li>
    <li>Menu element</li>
</ul>
